{
	auto_https off

	frankenphp {
		# Recommended settings for Opcache used also for Nginx:
		# php_ini opcache.enable 1
		# php_ini opcache.revalidate_path 0
		# php_ini opcache.memory_consumption 256
		# php_ini opcache.max_accelerated_files 32531
		# php_ini opcache.validate_timestamps 0
		# php_ini opcache.revalidate_freq 0
		# php_ini realpath_cache_size 0
		# php_ini realpath_cache_ttl 600
	}
}

http://127.0.0.1:8082 {
	root * current/public
	php_server {
		resolve_root_symlink true
	}
}
